body:has(> * > .world) {
    background: #553333;
    height: 100%;
    overflow: hidden;
}

.world {
    background: #ccbbaa;
    position: absolute;

    top: 50vh;
    left: 50vw;

    width: calc(var(--tile-size) * var(--world-height));
    height: calc(var(--tile-size) * var(--world-height));

    border: 1px solid black;
    position: relative;
    transform-origin: top left;
    transform: scale(var(--scale)) translate(-50%, -50%);
    image-rendering: pixelated;
}

.sprite {
    position: absolute;
    bottom: 0;
    left: 0;
    width: var(--tile-size);
    height: var(--tile-size);
    transform-origin: 50% 50%;
}
